{% extends 'app.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Company List</h1>
            
            {% for key, company in companies %}
                <p>{{ key+1 }}: {{ company.name }} - {{ company.price }} - {{ company.description }}</p>
            {% endfor %}
        </div>
        <div class="col-12">
            <form method="POST" action="{{ url('scraper_store') }}">
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
